# make sure only allowed users can make any changes to repo
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# let's protect our .github folder to be sure no unauthorized changes are made
/.github/ @x86txt
